<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/jpg" href="/images/faviconPsi.jpg"/>

  <!----------- CSS ----------->
  <link rel="stylesheet" href="/css/generalStyles.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/header.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/utils.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/buttons.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/inputs.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/tables.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/popups.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/badges.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/filters.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/login.css?v=<%= Date.now() %>">
  <link rel="stylesheet" href="/css/custom/practicalExams.css?v=<%= Date.now() %>">

  <!--- Fonts --->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!--- Material Symbols (icons) --->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" rel="stylesheet">

  <!--- Alertify --->
  <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

  <title><%= title %></title>
</head>
